.memberContainer {
  max-width: 600px;
  margin: 0 auto;
}

.member {
  padding: 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  img {
    max-width: 200px;
    object-fit: contain;
    border-radius: 1rem;
    margin: 0 auto;
  }

  h2 {
    font-size: 2rem;
  }
}

.links {
  padding: 1rem 0;
}

.links {
  a {
    padding: 0.5rem 0.75rem;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    color: $primary-text;
    text-decoration: none;
    background: $secondary-bg;
    border-radius: 0.25rem;
    max-width: 120px;

    p {
      padding-left: 0.35rem;
    }

    &:hover {
      color: #727272;
      box-shadow: 0 0.5rem 0.5rem #000;
      transition: all 0.3s ease-in-out;
    }
  }
}

.svgColor {
  filter: invert(100%);

  &:hover {
    filter: invert(50%);
    transition: filter 0.3s ease-in-out;
  }
}

.svgProfile {
  @extend .svgColor;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .member {
    grid-template-columns: 1fr;

    h2 {
      text-align: center;
    }
  }

  .links {
    a {
      margin: 0.75rem auto;
    }
  }
}
