.buttons {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.share {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 359px) {
  .share {
    margin-top: 1.5rem;
  }
}
