// Global Styles

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $primary-bg;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
