// Global Styles

html {
  font-family: "Nunito", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $primary-bg;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 1.5rem;
}

.pageTitle {
  background: $secondary-bg;
  color: $accent;

  h2 {
    font-size: 3rem;
    padding: 3rem 2rem;
  }
}
