.postGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.post {
  background: $secondary-bg;
  padding: 1rem;
  border-radius: 0.25rem;

  h3,
  p {
    color: $primary-text;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
    color: $accent;
  }

  p {
    font-size: 0.9rem;
  }

  a {
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 0.5rem 1rem #000;

    transition: all 0.3s ease-in-out;
  }
}

// Mobile
@media only screen and (max-width: 450px) {
  .postGrid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 451px) and (max-width: 900px) {
  .postGrid {
    grid-template-columns: 1fr 1fr;
  }
}
