.postGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

// Mobile
@media only screen and (max-width: 450px) {
  .postGrid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 451px) and (max-width: 900px) {
  .postGrid {
    grid-template-columns: 1fr 1fr;
  }
}
