.header {
  width: 100%;
  height: 100vh;
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: none;
  background-size: cover;

  padding: 4rem;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  h1 {
    color: $accent;
    // text-shadow: 0 0.5rem 1.5rem #212121;
    font-size: 5rem;
  }

  p {
    padding-top: 1rem;
    padding-left: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
  }
}

.imageWithText {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 1.5rem;

  .image {
    overflow: hidden;

    svg {
      width: 100%;
      height: auto;
    }
  }

  .text {
    margin: 0 auto;
    padding: 3rem;

    p {
      padding: 0.5rem 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 2rem;

    h1 {
      font-size: 3rem;
    }
    p {
      display: none;
    }
  }

  .imageWithText {
    grid-template-columns: 1fr;

    .text {
      order: 1;
    }
  }
}
