.membersGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.memberGridItem {
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    height: 64px;
  }
}

.svgColor {
  filter: invert(100%);
}

.svgProfile {
  @extend .svgColor;
  height: 4rem;
  width: 4rem;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}

.links {
  display: flex;
  justify-content: center;
}

// Mobile
@media only screen and (max-width: 768px) {
  .membersGrid {
    grid-template-columns: 1fr;
  }
}

// Medium Displays
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .membersGrid {
    grid-template-columns: 1fr 1fr;
  }
}
