.form {
  display: block;
  margin: 0 auto;

  div {
    padding: 0.5rem 0;

    p {
      padding: 0.2rem 0;
    }

    input {
      padding: 0.5rem 1rem;
      border: none;

      &[type="submit"] {
        background: $accent;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .form {
    div {
      input {
        display: block;
        width: 100%;
      }
    }
  }
}
