.footer {
  text-align: center;
  padding: 0.5rem;
  background: $secondary-bg;
  color: $primary-text;

  a {
    color: $primary-text;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: $accent;
      transition: all 0.4s ease-in-out;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}
