.header {
  background: $secondary-bg;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  width: 150px;
  left: 0;
  position: fixed;
  height: 100%;
  color: $primary-text;

  div {
    // max-width: 1080px;
    margin: 0 auto;

    h1 {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $primary-text;
      align-items: center;
      height: 100%;

      div {
        margin: 0 auto;
        // height: 100%;
        padding-top: 1rem;
        width: 50%;
      }

      p {
        padding-left: 1rem;
        font-size: 1.65rem;
      }

      &:hover {
        cursor: pointer;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;

    li {
      &:hover {
        color: $accent;
        background: $primary-bg;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
      }

      a {
        padding: 1rem;
        width: 100%;
        height: 100%;
        display: inline-block;
        text-decoration: none;
        color: $primary-text;
        user-select: none;
        font-weight: 600;
      }
    }
  }
}

.linkColor {
  color: $accent;
}

@media only screen and (max-width: 768px) {
  .header {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 5;

    h1 {
      display: none;
    }

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      // padding-left: 20px;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      font-size: 0.75rem;

      li {
        a {
          padding: 0.55rem;
        }
      }
    }
  }
}
