.header {
  background: $accent;

  div {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0.5rem 1.0875rem;

    h1 {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $primary-text;
      display: flex;
      align-items: center;
      height: 100%;

      div {
        margin: 0;
        height: 100%;
      }

      p {
        padding-left: 1rem;
      }

      &:hover {
        cursor: pointer;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}
