.memberCard {
  display: flex;
  align-items: center;
  background: $secondary-bg;
  border-radius: 4rem;
  user-select: none;

  color: $primary-text;
  text-decoration: none;

  h3 {
    line-height: 1.5rem;
  }

  img {
    border-radius: 50%;
    height: 64px;
  }

  &:hover,
  &:active {
    box-shadow: 0 0.5rem 1.5rem #000;
    transition: all 0.3s ease-in-out;
  }
}

.svgColor {
  filter: invert(100%);

  &:hover {
    filter: invert(50%);
    transition: filter 0.3s ease-in-out;
  }
}

.svgProfile {
  @extend .svgColor;
  height: 4rem;
  width: 4rem;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  width: 100%;
}

.links {
  display: flex;
  // justify-content: start;
}
