.post {
  background: $secondary-bg;
  padding: 1rem;
  border-radius: 0.25rem;

  h3,
  p {
    color: $primary-text;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
    color: $accent;
  }

  p {
    font-size: 0.9rem;

    &:nth-of-type(3) {
      padding-top: 0.5rem;
    }
  }

  a {
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 0.5rem 1rem $shadow;

    transition: all 0.3s ease-in-out;
  }
}
